.button {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: 'Boing-Semibold';
  // font-size: 1.1rem;
  @include fluid-type(20rem, 64rem, 1rem, 1.1rem);
  line-height: 1.7rem;
  text-transform: uppercase;
  // letter-spacing: 1px;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  color: var(#{--black});
  border: 1px solid transparent;
  text-decoration: none;
  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) .3s;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background-color: hsla(15, 25%, 60%, 0.527);
    height: 56px;
    width: 56px;
    transform-origin: left;
    // animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
    transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) .2s;
    // transition: all 0.2s ease;
  }

  svg {
    position: relative;
    bottom: 2px;
    margin-left: .7rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--black);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.2s ease-out;
  }
  
  // &::after {
  //   content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='12.083' height='12.239'> <g data-name='Group 29' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'> <path data-name='Path 2' d='M6.378 1.414l4.705 4.705-4.705 4.705'/> <path data-name='Line 2' d='M10.502 6.073H1'/> </g></svg>");
  //   margin-left: .5rem;
  //   transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86) .5s;
  // }
  &:visited {
    color: var(--black);
  }
  
  &:hover {
    color: var(--white);

    &::before {
      width: 100%;
      background-color: hsla(0, 0%, 0%, .9);
    }
    
    svg {
      transform: translateX(0);
      stroke: currentColor;
    }
  }
  
  &--primary {
    // background-color: hsla(0, 0%, 0%, .9);
    
    &:hover {
      // background-color: hsla(0, 0%, 0%, 1);
    }
  }
}