.bg {
  margin-top: 4rem;
  
  @media (prefers-color-scheme: light) {
    background-color: var(--primary-color);
  }
}

.grid > footer {
  margin-right: var(--spacing);
  margin-left: var(--spacing);
  grid-column: 2 / -2;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 3);
  justify-content: space-between;

  margin-top: 6rem;

  &__header {
    flex: 1 0 100%;
    white-space: nowrap;
    text-decoration: none;

    h1 {
      @include fluid-type(20rem, 64rem, 1rem, 1.3rem);
      text-transform: uppercase;
      letter-spacing: -0.016em;
      word-spacing: 0.08em;

      @media (prefers-color-scheme: dark) {
        color: var(--primary-color);
      }
    }
  }

  &__membership {
    flex: 1 0 auto;
    margin-bottom: 2rem;
    div {
      max-width: 250px;
    }

    @include media("<=1200px") {
      flex: 1 0 100%
    }
  }

  &__projects,
  &__contact,
  &__forening {
    flex: 0 0 auto;

    h2 {
      margin-bottom: 2em;
      margin-top: 0;
      color: var(--text-color);
      font-family: "Brown-Regular";
      text-transform: uppercase;
      font-size: 1.1rem;
    }

    li {
  
      a,
      a:link {
        color: var(--text-color);
        text-decoration-color: inherit;
        text-decoration-thickness: 1;
    
        &:visited {
          color: var(--text-color);
          text-decoration-color: var(--text-color);
        }
    
        &:hover {
  
  
          @media (prefers-color-scheme: dark) {
            color: var(--primary-color);
            text-decoration-color: inherit;
          }
        }
      }
    }
  }

  &__copyright {
    color: var(--gray-400);
    flex: 1 0 100%;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
