.hero {
  height: -webkit-fill-available; /* https://twitter.com/bfgeek/status/1262465912025698304 */
  height: calc(100vh - 80px);
  
  >.grid {
    height: 100%;
  }

  &__bg {
      display: block;
      width: 100%;
      height: -webkit-fill-available;
      height: 90%;
      position: absolute;
      top: 0;
      background-color: var(--primary-color);
      animation: grow-top cubic-bezier(0.785, 0.135, 0.15, 0.86) .5s forwards;

      // display: flex;
      // justify-content: flex-end;
      // align-items: flex-end;

      overflow: hidden;

      // clip-path: ellipse(85% 100% at 50% 0%);

    @media (prefers-color-scheme: dark) {
      background-color: var(--gray-900)
    }

    svg{
      opacity: 0;
      animation: fade-in-top ease .4s forwards;
      animation-delay: .6s;
      fill: var(--gray-400);

      position: absolute;
      bottom:  -50px;
      right: -300px;
      height: 100%;

      @media (prefers-color-scheme: dark) {
        fill: var(--gray-800);
      }

      
      @include media(">desktop") {
        fill: var(--gray-700);
        right: 200px;

        @media (prefers-color-scheme: dark) {
          fill: var(--gray-600);
        }
      }

      
  
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70ch;
    height: 100%;
    grid-column: 2 / -2;
    margin-right: var(--spacing);
    margin-left: var(--spacing);
    
    p,
    a {
      opacity: 0;
      animation: fade-in-top ease .4s forwards;
      
      @media (prefers-color-scheme: dark) {
        color: var(--white);
      }
    }

    p {
      @include fluid-type(20rem, 64rem, 1.3rem, 1.8rem);
      line-height: 1.2em;
      margin-bottom: 3rem;
      animation-delay: .3s;
    }

    a.button {
      animation-delay: .5s;

    }
  }
}
  