@import 'abstracts/include-media';
@import 'base/reset';
@import 'base/animations';
@import 'base/typography';
@import 'components/buttons';
@import 'pages/sub-page';
@import 'layout/grid';

:root {
  // Colors
  --red-hue: 15;
  --red-saturation: 100%;
  --red-lightness: 85%;
  --blue-hue: 252;
  --blue-saturation: 64%;
  --blue-lightness: 20%;

  --red-color: hsl(
                      var(--red-hue),
                      var(--red-saturation),
                      var(--red-lightness)
                    );
  --blue-color: hsl(
                        var(--blue-hue),
                        var(--blue-saturation),
                        var(--blue-lightness)
                      );

  --black: hsl(0, 0%, 18%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(120, 1%, 68%);

  // Shadows
  --box-shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);;
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  
  // Font
  --font-family: 'Boing', sans-serif;

  // Misc
  --border-radius: 0.8rem;
  --spacing: 1.5rem;

  // --container-width: 

  // Brakepoints
  $breakpoint-xs: 0;
  $breakpoint-sm: 36em; // >=576px / 16px
  $breakpoint-md: 48em; // >=768px
  $breakpoint-lg: 62em; // >=992px
  $breakpoint-xl: 75em; // >=1200px
  $breakpoint-xxl: 88em; // >=1400px
}

body {
  font-size: 100%;
  font-family: var(--font-family);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */

  margin: 0;

  background-color: #f8f4ed;
}

// fonts
h1, h2, h3, h4, p, li{
  font-family: 'Boing-Bold', sans-serif;
  color: rgb(36, 36, 36);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  // text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: .5rem;
  // text-transform: uppercase;
}

p, li {
  font-family: 'Brown-Regular';
  font-size: 1.2rem;
  font-weight: 200;

  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

// css grid wrapperwith full bleed
// https://joshwcomeau.com/css/full-bleed/
.wrapper {
  display: grid;
  grid-template-columns: 1fr min(65ch, calc(100% - var(#{--spacing}))) 1fr;
  grid-column-gap: calc(var(#{--spacing}) / 2);

  .intro {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

.wrapper > * {
  grid-column: 2
}

.wrapper .full-bleed {
  width: 100%;
  grid-column: 1 / -1;

  img {
    max-height: 60vh;
    width: 100%;
    object-fit: cover;
    margin: 2rem auto 3rem;
  }
}


.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 2rem;
}



body {
  @include media(">phone", "<=tablet") {

    background-color: black;

}
}
