@import 'abstracts/mixins';
@import 'abstracts/include-media';
@import 'base/reset';
@import 'base/animations';
@import 'base/typography';
@import 'layout/grid';
@import 'components/buttons';
@import 'components/header';
@import 'components/hero';
@import 'components/footer';
@import 'pages/sub-page';

:root {
  // Colors
  --red-hue: 15;
  --red-saturation: 100%;
  --red-lightness: 85%;
  --blue-hue: 252;
  --blue-saturation: 64%;
  --blue-lightness: 20%;

  --red-color: hsl(
                      var(--red-hue),
                      var(--red-saturation),
                      var(--red-lightness)
                    );

  --red-color-900: hsl(var(--red-hue), 90%, 75%);

  --blue-color: hsl(
                        var(--blue-hue),
                        var(--blue-saturation),
                        var(--blue-lightness)
                      );

  --black: hsl(0, 0%, 14%);
  // --white: hsl(0, 0%, 100%);
  --white: hsl(38.2, 44%, 95.1%);

  --gray: hsl(120, 1%, 68%);
  --gray-100: hsl(120, 1%, 98%);
  --gray-200: hsl(120, 1%, 88%);
  --gray-300: hsl(120, 1%, 78%);
  --gray-400: hsl(120, 1%, 68%);
  --gray-500: hsl(120, 1%, 58%);
  --gray-600: hsl(120, 1%, 48%);
  --gray-700: hsl(120, 1%, 38%);
  --gray-800: hsl(120, 1%, 28%);
  --gray-900: hsl(120, 1%, 18%);
  
  --primary-color: var(--red-color);
  --primary-color-900: var(--red-color-900);
  --bg-color: var(--white);
  --text-color: var(--black);

  // Shadows
  --box-shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);;
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  
  // Font
  // ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  --font-family: 'Brown-Regular', sans-serif;

  // Misc
  --border-radius: 0.8rem;
  --spacing: 1.5rem;

  // --container-width: 

  // Brakepoints
  $breakpoint-xs: 0;
  $breakpoint-sm: 36em; // >=576px / 16px
  $breakpoint-md: 48em; // >=768px
  $breakpoint-lg: 62em; // >=992px
  $breakpoint-xl: 75em; // >=1200px
  $breakpoint-xxl: 88em; // >=1400px
}

@media (prefers-color-scheme: dark) {
  :root {
    // --primary-color: var(--black);
    --bg-color: var(--black);
    --text-color: var(--white)
  }
}

@media (prefers-color-scheme: light) {
  
}


html {
  height: -webkit-fill-available; /* https://twitter.com/bfgeek/status/1262465912025698304 */
}

html, body {
  min-height: 100%; /* We keep this right? */
  min-height: 100vh;
  min-height: -webkit-fill-available; /* We want the vendor-prefixed value to take affect
                                         in browsers that support it, fall back to 100vh,
                                         then 100%. */
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 2rem;
}

.baggroundColor {
  background-color: var(--primary-color);
}


// TESTING MEDIA QUERIES
// body {
//   @include media("<=desktop") {
//     background-color: skyblue;
//   }
//   @include media(">phone", "<=tablet") {
//     background-color: goldenrod;

//   }
// }
