.sub-page {
  margin-top: 5rem;
  
  header{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.info-box {
  background-color: var(--red-color);
  
  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
}